/* A 1.4.1 Link identified only by color */
#recentcomments a{
  text-decoration: underline;
}
.post-meta a {
  text-decoration: underline !important;
}

/* A 1.4.3 Color contrast is insufficient */
/* fix coloring of footer text */
.kt-btns_5c6710-d8 {
  background-color: #007C8F;
}

/* A 2.4.7 Element not highlighted on focus */
:focus {
   outline: 1px solid lightblue !important;
}
a:focus {
  text-decoration: underline !important;
}

/*A 3.3.2 Field labels not visible */
label{
  display: block !important;
}
